{% extends 'layouts/admin.html' %}

{% block title %}
{{ telegram_user.name }}
{% endblock title %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'admin-users-index' %}">Пользователи</a></li>
<li class="breadcrumb-item active">{{ telegram_user.name }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2 class="content-heading">Пользователи</h2>
    <div class="block">
        <div class="block-header block-header-default">
            <h3 class="block-title"><i class="si si-user"></i> {{ telegram_user.name }}</h3>
        </div>
        <div class="block-content">
            <div class="row text-center mb-20">
                <div class="col-sm-6 col-md-4">
                    <h4 class="content-heading">Имя</h4>
                    <p>{{ telegram_user.name }}</p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4 class="content-heading">Юзернейм</h4>
                    {% if telegram_user.username %}
                        <a href="{{ 'https://telegram.org/'|add:telegram_user.username }}" target="_blank" class="link-effect">{{ telegram_user.username }}</a>
                    {% else %}
                        <span class="badge badge-pill badge-danger">Отсутствует</span>
                    {% endif %}
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4 class="content-heading">Номер телефона</h4>
                    <a href="callto:{{ telegram_user.phone_number }}" class="link-effect">{{ telegram_user.phone_number }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-header block-header-default">
            <h3 class="block-title text-danger"><i class="si si-book-open"></i> Жалобы</h3>
        </div>
        <div class="block-content">
            {% if complains %}
                <table class="table table-stripped table-vcenter">
                    <thead>
                        <tr>
                            <th class="text-center">От кого</th>
                            <th class="text-center">Содержание</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complain in complains %}
                            <tr>
                                <td class="text-center">{{ complain.user_from.name }}</td>
                                <td class="text-center">{{ complain.text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="py-30 text-center">
                    <i class="si si-ghost text-primary display-3"></i>
                    <p class="mt-20 font-size-h5">Ещё никто не жаловался на этого пользователя</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}